.parts {
  background-color: #fdf0e0;
  margin-top: 10px;
  margin-bottom: 10px;

  // .card {
  //   border-radius: 15px;
  //   border-top: 3px solid #ff8a00;
  //   border-bottom: 5px solid #ff8a00;
  //   box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.4);
  //   width: 15rem;
  //   height: 20rem;

  //   .card-body {
  //     flex-direction: column;
  //     //   padding: 0;
  //     padding: 0px 20px;

  //     .btn {
  //       background-color: #1338be;
  //       border-radius: 25px;
  //       color: #fff;
  //     }
  //   }
  // }
  .card {
    border-radius: 15px;
    border-top: 3px solid #ff8a00;
    border-bottom: 5px solid #ff8a00;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.4);
    width: 15rem;
    height: 20rem;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    margin-top: 1rem;
  
    &:hover {
      transform: rotate(0deg);
      box-shadow: 0px 0px 20px 0px rgba(183, 67, 67, 0.4);
    }
  
    .card-body {
      flex-direction: column;
      padding: 0px 20px;
      .card-title {
        text-align: center;
        padding: 0%;
      }
      .brochure {
       padding-bottom: 10px;
        .btn {
          background-color: #1338be;
          border-radius: 25px;
          color: #fff;
        }
      }

    }
  
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -50%;
      width: 200%;
      height: 200%;
      background: #ff8a00;
      border-radius: 50%;
      animation: shadowRoll 5s linear infinite;
      transition: all 0.3s ease;
      z-index: -1;
    }
  }
  
  @keyframes shadowRoll {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
      opacity: 0;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
      opacity: 0;
    }
  }
  
  .center {
    display: flex;
    justify-content: center;
  }
}

.section-heading1 {
  font: 50px poppin;
  color: #f79521;
  // margin-bottom: 5px;
  // margin-left: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.bullet {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font: 30px poppins;
  animation: changeColor 5s infinite;
}
@keyframes changeColor {
  0% {
    color: rgb(218, 0, 0);
  }
  25% {
    color: rgb(0, 0, 130);
  }
  50% {
    color: rgb(0, 202, 0);
  }
  75% {
    color: rgb(49, 0, 55);
  }
  100% {
    color: rgb(255, 166, 0);
  }
}

@media (max-width: 768px) {
  .section-heading1 {
    font-size: 30px;
    text-align: center;
  }
  .content {
    display: flex;
    justify-content: center;
  }
  .bullet {
    font-size: 15px;
    padding-top: 0px;
  }
  .parts {
    .card {
      width: 255px;
      height: 264px;

      img {
        max-width: 60%;
        margin-left: 49px;
      }

      .card-body {
        height: 1rem;

        h5 {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 988px) {
  .center {
    margin-top: 10px;
  }
}
@media (max-width: 375px) {
  .section-heading1 {
    font-size: 25px;
    text-align: center;
  }
}

// modal
.modal-body {
  padding: 20px;
  background-color: #fedc71;
  height: max-content;
  .modal-title {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
  }
  .subheading {
    text-align: center;
    color: #502400;
    font-size: 20px;
    padding-bottom: 5px;
    font-family: Montserrat, sans-serif;
  }
  .modalcard {
    height: 16rem;
    margin: 5px;
    padding: 0;
    .card-img-top {
      height: 6rem;
      width: 8rem;
      padding: 10px;
    }
    .card-body {
      .card-heading {
        font-size: 15px;
        font-weight: 800;
        margin-bottom: 2rem;
        padding: 0;
        height: 4rem;
      }
      .card-text {
        font: 20px poppin;
        color: #924c06;
        padding: 2px;
        margin-left: 8px;
        text-align: center;
      }
    }
  }
  .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1050;
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  .btn-close:focus {
    outline: none;
  }
}

@media (max-width: 1200px) {
  .modal-body {
    .modalcard {
      .card-img-top {
        height: 4rem;
        width: 7rem;
        padding: 8px;
      }
      .card-body {
        .card-heading {
          font-size: 12px;
        }
        .card-text {
          font-size: 12px;
        }
      }
    }
  }
}

.careerCard {
  background-color: #fdf0e0;
  .btn-close {
    border: none;
    font-size: 10px;
    cursor: pointer;
    position: relative;
    left: 30rem;
    top: 10px;
  }
  .image {
    height: 180px;
    width: 300px;
  }
}

.CareerModal-body {
  padding: 20px;

  .group {
    position: relative;

    .input {
      font-size: 16px;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 95%;
      border: none;
      border-bottom: 1px solid #515151;
      background: transparent;
    }

    .input:focus {
      outline: none;
    }

    label {
      color: #999;
      font-size: 18px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }

    .input:focus ~ label,
    .input:valid ~ label {
      top: -10px;
      font-size: 14px;
      color: #5264ae;
    }

    .bar {
      position: relative;
      display: block;
      width: 200px;
    }

    .bar:before,
    .bar:after {
      content: "";
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: #5264ae;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }

    .bar:before {
      left: 50%;
    }

    .bar:after {
      right: 50%;
    }

    .input:focus ~ .bar:before,
    .input:focus ~ .bar:after {
      width: 50%;
    }

    .highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
    }

    .input:focus ~ .highlight {
      animation: inputHighlighter 0.3s ease;
    }

    @keyframes inputHighlighter {
      from {
        background: #5264ae;
      }

      to {
        width: 0;
        background: transparent;
      }
    }
  }

  button[type="submit"] {
    padding: 10px;
    background-color: #ffcf57;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
  }

  button[type="submit"]:hover {
    background-color: #f6c504;
  }
}

@media (max-width: 426px) {
  .card {
    .btn-close {
      border: none;
      position: relative;
      left: 24rem;
      top: 10px;
    }
  }
}
@media (max-width: 376px) {
  .card {
    .btn-close {
      border: none;
      position: relative;
      left: 21rem;
      top: 10px;
    }
    .image {
      height: 150px;
      width: 300px;
    }
  }
}
@media (max-width: 350px) {
  .card {
    .btn-close {
      border: none;
      position: relative;
      left: 19rem;
      top: 10px;
    }
    .image {
      height: 100px;
      width: 200px;
    }
  }
}

//sucess
.success-modal {
  position: relative;
  width: 500px;
  height: 400px;
  background-color: #fdf0e0;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;

  .bg {
    position: absolute;
    width: 490px;
    height: 390px;
    z-index: 2;
    background-color: #fdf0e0;
    backdrop-filter: blur(24px);
    .card-img-top{
      justify-content: center;
      height: 15rem;
    }
    .btn-close {
      border: none;
      font-size: 10px;
      cursor: pointer;
      position: relative;
      left: 29.5rem;
    }
    .text-center {
      // padding: 25px;
      color: #834200;
      font: 22px poppin;
    }
    .text{
      text-align: center;
      font: 25px poppin;
      margin:2rem;
      color: #010101;
    }
  }

  .blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 350px;
    border-radius: 70%;
    background-color: rgb(0, 110, 0);
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 3s infinite ease;
  }

  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }

    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }

    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }

    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }

    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  }
}

