<section id="training">
  <div class="container-fluid parts">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="section-heading1">Career Transition Courses</div>

        <!-- <div style="display: flex; flex-wrap: nowrap">
          <div
            fxhide.xs="true"
            style="flex: 1 1 100%; box-sizing: border-box; max-width: 30%">
            <div class="green-line"></div>
          </div>
          <div style="flex: 1 1 0%; box-sizing: border-box">
            <div class="section-heading1">Career Transition Courses</div>
          </div>
          <div
          fxhide.xs="true"
          style="flex: 1 1 100%; box-sizing: border-box; max-width: 32%">
          <div class="green-line"></div>
        </div>
        </div> -->

        <div class="row justify-content-center">
          <div class="col-xs-7 col-sm-7 col-md-6 col-lg-3 col-xl-3 col-xxl-3 center">
            <div class="card">
              <img src="../../../../../assets/Java.png" class="" alt="..." />
              <div class="card-body">
                <h6 class="card-title align-items-justify">
                  <strong>Java Full Stack Developer</strong>
                </h6>
                <div class="row mt-4">
                  <div class="col-1">
                    <i class="fa-regular fa-clock fa-fade" style="color: #000000"></i>
                  </div>
                  <div class="col-5">6 months</div>
                  <div class="col-4 brochure">
                    <a href="../../assets/Java.png" download>
                      <button class="btn">Brochure</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-7 col-sm-7 col-md-6 col-lg-3 col-xl-3 col-xxl-3 center">
            <div class="card">
              <img src="../../../../../assets/mean.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h6 class="card-title">
                  <strong>MEAN Stack Developer</strong>
                </h6>
                <div class="row mt-4">
                  <div class="col-1">
                    <i class="fa-regular fa-clock fa-fade" style="color: #000000"></i>
                  </div>
                  <div class="col-5">6 months</div>
                  <div class="col-4 brochure">
                    <a href="../../../../../assets/MEAN_STACK (1).pdf" download>
                      <button class="btn">Brochure</button>
                    </a>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-xs-7 col-sm-7 col-md-6 col-lg-3 col-xl-3 col-xxl-3 center">
            <div class="card">
              <img
                src="../../../../../assets/weekend.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h6 class="card-title">
                  <strong>Weekend Batch Sat, Sun</strong>
                </h6>
                <div class="row mt-4">
                  <div class="col-1">
                    <i class="fa-regular fa-clock" style="color: #000000"></i>
                  </div>
                  <div class="col-5">1 year</div>
                  <div class="col-4 brochure">
                    <a href="" download>
                      <button class="btn">Brochure</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
         
          <div class="col-xs-7 col-sm-7 col-md-6 col-lg-3 col-xl-3 col-xxl-3 center">
            <div class="card">
              <img src="../../../../../assets/crt.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h6 class="card-title">
                  <strong>Guaranteed Placement</strong>
                </h6>
                <div class="row mt-4">
                  <div class="col-1">
                    <i class="fa-regular fa-clock fa-fade" style="color: #000000"></i>
                  </div>
                  <div class="col-5">6 months</div>
                  <div class="col-4 brochure">
                    <a href="" download>
                      <button class="btn">Brochure</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-7 col-sm-7 col-md-6 col-lg-3 col-xl-3 col-xxl-3 center">
            <div class="card">
              <img src="../../../../../assets/weekend.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h6 class="card-title">
                  <strong>Our Courses</strong>
                </h6>
                <div class="row mt-4">
                  <!-- <div class="col-1">
                    <i class="fa-regular fa-clock" style="color: #000000"></i>
                  </div> -->
                  <!-- <div class="col-5"></div> -->
                  <div class="col-12 brochure d-flex justify-content-center">
                    <button class="btn" (click)="openXl(Content)">ViewMore</button>


                    <ng-template #Content let-modal>

                      <div class="modal-body text-center">
                        <div class="d-flex justify-content-center">
                          <h4 class="modal-title">Training cum  Internship</h4>
                          <button type="button" class="btn-close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')"></button>
                        </div>
                        <h5 class="subheading">Our Courses</h5>
                        <div class="row">
                          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card modalcard">
                              <div class="justify-content-center">
                                <img src="../../assets/courses/C_Programming_Language.svg.png" class="card-img-top" alt="..." />
                              </div>
                              <div class="card-body">
                                <p class="card-heading text-center">
                                  Programming Basics Using ‘C’
                                </p>
                                  <div class="d-flex justify-content-center">
                                    <i class="fa-regular fa-clock fa-fade fa-2xl" style="color: #924c06;"></i>
                                    <p class="card-text">15 Days</p>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card modalcard">
                              <div class="justify-content-center">
                              <img src="../../assets/courses/html-css-.jpg" class="card-img-top" alt="..." />
                              </div>
                              <div class="card-body">
                                <p class="card-heading text-center">
                                  Web Development Using HTML | CSS
                                </p>
                                <div class="d-flex justify-content-center">
                                  <i class="fa-regular fa-clock fa-fade fa-2xl" style="color: #924c06;"></i>
                                  <p class="card-text">15 Days</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card modalcard">
                              <div class="justify-content-center">
                              <img src="../../assets/courses/py.jpg" class="card-img-top" alt="..." />
                              </div>
                              <div class="card-body">
                                <p class="card-heading text-center">
                                  Python Basics
                                </p>
                                <div class="d-flex justify-content-center">
                                  <i class="fa-regular fa-clock fa-fade fa-2xl" style="color: #924c06;"></i>
                                  <p class="card-text">15 Days</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card modalcard">
                              <div class="justify-content-center">
                              <img src="../../assets/courses/py_numpy_panda.png" class="card-img-top" alt="..." />
                              </div>
                              <div class="card-body">
                                <p class="card-heading text-center">Python | Numpy | Pandas</p>
                                <div class="d-flex justify-content-center">
                                  <i class="fa-regular fa-clock fa-fade fa-2xl" style="color: #924c06;"></i>
                                  <p class="card-text">1 Month</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card modalcard">
                              <div class="justify-content-center">
                              <img src="../../assets/courses/angular_solidBlack (1).png" class="card-img-top" alt="..." />
                              </div>
                              <div class="card-body">
                                <p class="card-heading text-center">Web Development USING Angular</p>
                                <div class="d-flex justify-content-center">
                                  <i class="fa-regular fa-clock fa-fade fa-2xl" style="color: #924c06;"></i>
                                  <p class="card-text">1 Month</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card modalcard">
                              <div class="justify-content-center">
                              <img src="../../assets/courses/node.png" class="card-img-top" alt="..." />
                              </div>
                              <div class="card-body">
                                <p class="card-heading text-center">Server Side Development Using Nodejs</p>
                                <div class="d-flex justify-content-center">
                                  <i class="fa-regular fa-clock fa-fade fa-2xl" style="color: #924c06;"></i>
                                  <p class="card-text">1 Month</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card modalcard">
                              <div class="justify-content-center">
                              <img src="../../assets/courses/opps concept.jpg" class="card-img-top" alt="..." />
                              </div>
                              <div class="card-body">
                                <p class="card-heading text-center">OOP Using JAVA</p>
                                <div class="d-flex justify-content-center">
                                  <i class="fa-regular fa-clock fa-fade fa-2xl" style="color: #924c06;"></i>
                                  <p class="card-text">1 Month</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card modalcard">
                              <div class="justify-content-center">
                              <img src="../../assets/courses/java.png" class="card-img-top" alt="..." />
                              </div>
                              <div class="card-body">
                                <p class="card-heading text-center">Server Side Development Using JAVA</p>
                                <div class="d-flex justify-content-center">
                                  <i class="fa-regular fa-clock fa-fade fa-2xl" style="color: #924c06;"></i>
                                  <p class="card-text">1 Month</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card modalcard">
                              <div class="justify-content-center">
                              <img src="../../assets/courses/uipathrpa.jpg" class="card-img-top" alt="..." />
                              </div>
                              <div class="card-body">
                                <p class="card-heading text-center">RPA Using UiPath</p>
                                <div class="d-flex justify-content-center">
                                  <i class="fa-regular fa-clock fa-fade fa-2xl" style="color: #924c06;"></i>
                                  <p class="card-text">1 Month</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card modalcard">
                              <div class="justify-content-center">
                              <img src="../../assets/courses/Machine-Learning.jpg" class="card-img-top" alt="..." />
                              </div>
                              <div class="card-body">
                                <p class="card-heading text-center">Machine Learning Using Python</p>
                                <div class="d-flex justify-content-center">
                                  <i class="fa-regular fa-clock fa-fade fa-2xl" style="color: #924c06;"></i>
                                  <p class="card-text">2+1 Month</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <marquee onmouseover="this.stop()" onmouseout="this.start()" class="bullet">
            {{ bullet }}
          </marquee>
        </div>



      </div>
    </div>
  </div>
</section>