<section id="training">
  <div class="container-fluid parts">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="section-heading1">Career Transition Courses</div>

        <!-- <div style="display: flex; flex-wrap: nowrap">
          <div
            fxhide.xs="true"
            style="flex: 1 1 100%; box-sizing: border-box; max-width: 30%">
            <div class="green-line"></div>
          </div>
          <div style="flex: 1 1 0%; box-sizing: border-box">
            <div class="section-heading1">Career Transition Courses</div>
          </div>
          <div
          fxhide.xs="true"
          style="flex: 1 1 100%; box-sizing: border-box; max-width: 32%">
          <div class="green-line"></div>
        </div>
        </div> -->

        <div class="row justify-content-center">
          <div class="col-xs-7 col-sm-7 col-md-6 col-lg-3 col-xl-3 col-xxl-3 center">
            <div class="card">
              <img src="../../../../../assets/Java.png" class="" alt="..." />
              <div class="card-body">
                <h6 class="card-title align-items-justify">
                  <strong>Java Full Stack Developer</strong>
                </h6>
                <div class="row mt-4">
                  <div class="col-1">
                    <i class="fa-regular fa-clock fa-fade" style="color: #000000"></i>
                  </div>
                  <div class="col-5">6 months</div>
                  <div class="col-4 brochure">
                    <a href="../../assets/JAVA_FULL_STACK.pdf" download>
                      <button class="btn">Brochure</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-7 col-sm-7 col-md-6 col-lg-3 col-xl-3 col-xxl-3 center">
            <div class="card">
              <img src="../../../../../assets/mean.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h6 class="card-title">
                  <strong>MEAN Stack Developer</strong>
                </h6>
                <div class="row mt-4">
                  <div class="col-1">
                    <i class="fa-regular fa-clock fa-fade" style="color: #000000"></i>
                  </div>
                  <div class="col-5">6 months</div>
                  <div class="col-4 brochure">
                    <a href="../../../../../assets/MEAN_STACK (1).pdf" download>
                      <button class="btn">Brochure</button>
                    </a>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-xs-7 col-sm-7 col-md-6 col-lg-3 col-xl-3 col-xxl-3 center">
            <div class="card">
              <img
                src="../../../../../assets/weekend.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h6 class="card-title">
                  <strong>Weekend Batch Sat, Sun</strong>
                </h6>
                <div class="row mt-4">
                  <div class="col-1">
                    <i class="fa-regular fa-clock" style="color: #000000"></i>
                  </div>
                  <div class="col-5">1 year</div>
                  <div class="col-4 brochure">
                    <a href="" download>
                      <button class="btn">Brochure</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
         
          <div class="col-xs-7 col-sm-7 col-md-6 col-lg-3 col-xl-3 col-xxl-3 center">
            <div class="card">
              <img src="../../../../../assets/crt.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h6 class="card-title">
                  <strong>Guaranteed Placement</strong>
                </h6>
                <div class="row mt-4">
                  <div class="col-1">
                    <i class="fa-regular fa-clock fa-fade" style="color: #000000"></i>
                  </div>
                  <div class="col-5">6 months</div>
                  <div class="col-4 brochure">
                    <a href="" download>
                      <button class="btn">Brochure</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-7 col-sm-7 col-md-6 col-lg-3 col-xl-3 col-xxl-3 center">
            <div class="card">
              <img src="../../../../../assets/weekend.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h6 class="card-title">
                  <strong>Our Courses</strong>
                </h6>
                <div class="row mt-4">
                  <!-- <div class="col-1">
                    <i class="fa-regular fa-clock" style="color: #000000"></i>
                  </div> -->
                  <!-- <div class="col-5"></div> -->
                  <div class="col-12 brochure d-flex justify-content-center">
                    <button class="btn" (click)="openXl(Content)">ViewMore</button>


                    <ng-template #Content let-modal>
                      <div class="modal-body text-center">
                        <div class="d-flex justify-content-center">
                          <h4 class="modal-title">Training cum  Internship</h4>
                          <button type="button" class="btn-close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')"></button>
                        </div>
                        <h5 class="subheading">Our Courses</h5>
                        <div class="row">
                          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card modalcard">
                              <div class="justify-content-center">
                                <img src="../../assets/courses/C_Programming_Language.svg.png" class="card-img-top" alt="..." />
                              </div>
                              <div class="card-body">
                                <p class="card-heading text-center">
                                  Programming Basics Using ‘C’
                                </p>
                                <button type="button" class="mt-0 btn btn-warning btn-sm" (click)="openVerticallyCentered('Programming Basics Using C',OpenModel)">Warning</button>
                                  <div class="d-flex justify-content-center">
                                    <i class="fa-regular fa-clock fa-fade fa-2xl" style="color: #924c06;"></i>
                                    <p class="card-text">15 Days</p>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card modalcard">
                              <div class="justify-content-center">
                              <img src="../../assets/courses/html-css-.jpg" class="card-img-top" alt="..." />
                              </div>
                              <div class="card-body">
                                <p class="card-heading text-center">
                                  Web Development Using HTML | CSS
                                </p>
                                <button type="button" class="mt-0 btn btn-warning btn-sm" (click)="openVerticallyCentered('Web Development Using HTML CSS',OpenModel)">Warning</button>
                                <div class="d-flex justify-content-center">
                                  <i class="fa-regular fa-clock fa-fade fa-2xl" style="color: #924c06;"></i>
                                  <p class="card-text">15 Days</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card modalcard">
                              <div class="justify-content-center">
                              <img src="../../assets/courses/py.jpg" class="card-img-top" alt="..." />
                              </div>
                              <div class="card-body">
                                <p class="card-heading text-center">
                                  Python Basics
                                </p>
                                <button type="button" class="mt-0 btn btn-warning btn-sm" (click)="openVerticallyCentered('Python Basics',OpenModel)">Warning</button>
                                <div class="d-flex justify-content-center">
                                  <i class="fa-regular fa-clock fa-fade fa-2xl" style="color: #924c06;"></i>
                                  <p class="card-text">15 Days</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card modalcard">
                              <div class="justify-content-center">
                              <img src="../../assets/courses/py_numpy_panda.png" class="card-img-top" alt="..." />
                              </div>
                              <div class="card-body">
                                <p class="card-heading text-center">Python | Numpy | Pandas</p>
                                <button type="button" class="mt-0 btn btn-warning btn-sm" (click)="openVerticallyCentered('Python | Numpy | Pandas',OpenModel)">Warning</button>
                                <div class="d-flex justify-content-center">
                                  <i class="fa-regular fa-clock fa-fade fa-2xl" style="color: #924c06;"></i>
                                  <p class="card-text">1 Month</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card modalcard">
                              <div class="justify-content-center">
                              <img src="../../assets/courses/angular_solidBlack (1).png" class="card-img-top" alt="..." />
                              </div>
                              <div class="card-body">
                                <button type="button" class="mt-0 btn btn-warning btn-sm" (click)="openVerticallyCentered('Web Development USING Angular',OpenModel)">Warning</button>
                                <p class="card-heading text-center">Web Development USING Angular</p>
                                <div class="d-flex justify-content-center">
                                  <i class="fa-regular fa-clock fa-fade fa-2xl" style="color: #924c06;"></i>
                                  <p class="card-text">1 Month</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card modalcard">
                              <div class="justify-content-center">
                              <img src="../../assets/courses/node.png" class="card-img-top" alt="..." />
                              </div>
                              <div class="card-body">
                                <button type="button" class="mt-0 btn btn-warning btn-sm" (click)="openVerticallyCentered('Server Side Development Using Nodejs',OpenModel)">Warning</button>
                                <p class="card-heading text-center">Server Side Development Using Nodejs</p>
                                <div class="d-flex justify-content-center">
                                  <i class="fa-regular fa-clock fa-fade fa-2xl" style="color: #924c06;"></i>
                                  <p class="card-text">1 Month</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card modalcard">
                              <div class="justify-content-center">
                              <img src="../../assets/courses/opps concept.jpg" class="card-img-top" alt="..." />
                              </div>
                              <div class="card-body">
                                <button type="button" class="mt-0 btn btn-warning btn-sm" (click)="openVerticallyCentered('OOP Using JAVA',OpenModel)">Warning</button>
                                <p class="card-heading text-center">OOP Using JAVA</p>
                                <div class="d-flex justify-content-center">
                                  <i class="fa-regular fa-clock fa-fade fa-2xl" style="color: #924c06;"></i>
                                  <p class="card-text">1 Month</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card modalcard">
                              <div class="justify-content-center">
                              <img src="../../assets/courses/java.png" class="card-img-top" alt="..." />
                              </div>
                              <div class="card-body">
                                <button type="button" class="mt-0 btn btn-warning btn-sm" (click)="openVerticallyCentered('Server Side Development Using JAVA',OpenModel)">Warning</button>
                                <p class="card-heading text-center">Server Side Development Using JAVA</p>
                                <div class="d-flex justify-content-center">
                                  <i class="fa-regular fa-clock fa-fade fa-2xl" style="color: #924c06;"></i>
                                  <p class="card-text">1 Month</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card modalcard">
                              <div class="justify-content-center">
                              <img src="../../assets/courses/uipathrpa.jpg" class="card-img-top" alt="..." />
                              </div>
                              <div class="card-body">
                                <button type="button" class="mt-0 btn btn-warning btn-sm" (click)="openVerticallyCentered('RPA Using UiPath',OpenModel)">Warning</button>
                                <p class="card-heading text-center">RPA Using UiPath</p>
                                <div class="d-flex justify-content-center">
                                  <i class="fa-regular fa-clock fa-fade fa-2xl" style="color: #924c06;"></i>
                                  <p class="card-text">1 Month</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card modalcard">
                              <div class="justify-content-center">
                              <img src="../../assets/courses/Machine-Learning.jpg" class="card-img-top" alt="..." />
                              </div>
                              <div class="card-body">
                                <button type="button" class="mt-0 btn btn-warning btn-sm" (click)="openVerticallyCentered('Machine Learning Using Python',OpenModel)">Warning</button>
                                <p class="card-heading text-center">Machine Learning Using Python</p>
                                <div class="d-flex justify-content-center">
                                  <i class="fa-regular fa-clock fa-fade fa-2xl" style="color: #924c06;"></i>
                                  <p class="card-text">2+1 Month</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<ng-template #OpenModel let-modal>
  <div class="card">
    <button type="button" class="btn-close" aria-label="Close"
      (click)="resetForm(); modal.dismiss('Cross click')"></button>
    <div class="d-flex justify-content-center">
      <img src="../../../assets/enquire_now_img.png" class="image" alt="..." />
    </div>

    <div class="modal-body">
      <form [formGroup]="enquiryForm">
        <div class="group">
          <input required="" type="text" class="input" id="name" formControlName="name" />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Name</label>
        </div>
        <div
          *ngIf="enquiryForm.get('name')!.invalid && (enquiryForm.get('name')!.dirty || enquiryForm.get('name')!.touched)"
          style="color: red;">
          <div *ngIf="enquiryForm.get('name')!.errors?.['required']">
            Name is required.
          </div>
        </div>

        <br />
        <div class="group">
          <input required="" type="text" class="input" id="college" formControlName="college" />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>College</label>
        </div>
        <div
          *ngIf="enquiryForm.get('college')!.invalid && (enquiryForm.get('college')!.dirty || enquiryForm.get('college')!.touched)"
          style="color: red;">
          <div *ngIf="enquiryForm.get('college')!.errors?.['required']">
            College is required.
          </div>
        </div>
        <br />
        <div class="row">
          <!-- Add the error message below the mobile input field -->
          <div class="col-6">
            <div class="group">
              <input required="" type="number" class="input" id="mobile" formControlName="mobile" />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Contact No:</label>
            </div>
            <div
              *ngIf="enquiryForm.get('mobile')!.invalid && (enquiryForm.get('mobile')!.dirty || enquiryForm.get('mobile')!.touched)"
              style="color: red;">
              <div *ngIf="enquiryForm.get('mobile')!.errors?.['required']">
                Mobile number is required.
              </div>
              <div *ngIf="enquiryForm.get('mobile')!.errors?.['pattern']">
                Please enter a valid 10-digit mobile number.
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="group">
              <input required="" type="number" class="input" id="passingyear" formControlName="passingyear" />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Passing Year</label>
            </div>
            <div
              *ngIf="enquiryForm.get('passingyear')!.invalid && (enquiryForm.get('passingyear')!.dirty || enquiryForm.get('passingyear')!.touched)"
              style="color: red;">
              <div *ngIf="enquiryForm.get('passingyear')!.errors?.['required']">
                Passing year is required.
              </div>
            </div>
          </div>

        </div>
        <br />
        <div class="group">
          <select required="" class="input" id="branch" formControlName="branch">
            <span class="highlight"></span>
            <span class="bar"></span>
            <!-- <option value="" selected disabled>Select your Branch</option> -->
            <option value="Computer Technology">Computer Technology</option>
            <option value="Information Technology">
              Information Technology
            </option>
            <option value="Electronics And Telecommunication">
              Electronics And Telecommunication
            </option>
            <option value="Mechanical Engineering">
              Mechanical Engineering
            </option>
            <option value="Civil Engineering">Civil Engineering</option>
            <option value="Electrical Engineering">
              Electrical Engineering
            </option>
            <option value="Others">Others</option>
          </select>
          <label>Select your Branch</label>
        </div>
        <div *ngIf="enquiryForm.get('branch')!.invalid && enquiryForm.get('branch')!.touched" style="color: red;">
          <div *ngIf="enquiryForm.get('branch')!.errors?.['required']">
            Select your Branch is required.
          </div>
        </div>
        <br />
        <div class="group">
          <select required="" type="passingyear" class="input" formControlName="course">
            <span class="highlight"></span>
            <span class="bar"></span>
            <!-- <option value="" selected disabled>Select your course</option> -->
            <option value="Java Full Stack Developer">
              Java Full Stack Developer
            </option>
            <option value="Mean Stack Developer">Mean Stack Developer</option>
            <option value="Programming Basics Using C">Programming Basics Using C</option>
            <option value="Web Development Using HTML CSS">Web Development Using HTML | CSS</option>
            <option value="Python Basics">Python Basics</option>
            <option value="Python | Numpy | Pandas">Python | Numpy | Pandas</option>
            <option value="Web Development USING Angular">Web Development USING Angular</option>
            <option value="Server Side Development Using Nodejs">Server Side Development Using Nodejs</option>
            <option value="OOP Using JAVA">OOP Using JAVA</option>
            <option value="Server Side Development Using JAVA">Server Side Development Using JAVA</option>
            <option value="RPA Using UiPath">RPA Using UiPath</option>
            <option value="Machine Learning Using Python">Machine Learning Using Python</option>
          </select>
          <!-- <label>Select your course</label> -->
        </div>
        <div *ngIf="enquiryForm.get('course')!.invalid && enquiryForm.get('course')!.touched" style="color: red;">
          <div *ngIf="enquiryForm.get('course')!.errors?.['required']">
            Select your course is required.
          </div>
        </div>
        <br />

        <button (click)="onSubmit()" type="submit">Submit</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #SuccessMessage let-modal>
  <div class="success-modal">
    <div class="bg">
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      <img src="../../../assets/thankyou.png" alt="" class="card-img-top">
      <p class="text-center">
        For Your Enquiry
      </p>
      <p class="text">
        We will get in touch as soon as possible.
      </p>
    </div>
    <div class="blob"></div>
  </div>
</ng-template>