<section id="training">
    <div class="container-fluid parts">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    
                <div class="row justify-content-center my-5">
    
                    <h2 class="text-center"><strong>Career Transition Courses</strong></h2>
    
                </div>
                <div class="row justify-content-center">
                    <div class="col-xs-7 col-sm-7 col-md-6 col-lg-3 col-xl-3 col-xxl-3 center">
                        <div class="card">
                            <img src="../../../../../assets/Java.png" class="" alt="...">
                            <div class="card-body">
                                <h5 class="card-title align-items-justify"><strong>Java Full Stack
                                    Developer</strong></h5>
                                <div class="row mt-4">
                                    <div class="col-1 pt-2">
                                        <i class="fa-regular fa-clock" style="color: #000000;"></i>
                                    </div>
                                    <div class="col-5 pt-2">
                                        6 months
                                    </div>
                                    <div class="col-4">
                                        <a href="../../assets/Java.png" download>
                                            <button class="btn">Brochure</button>
                                        </a>
                                    </div>
                                    
                                </div>
    
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-6 col-lg-3 col-xl-3 col-xxl-3 center">
                        <div class="card" >
                            <img src="../../../../../assets/mean.png" class="card-img-top " alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><strong>MEAN Stack
                                    Developer</strong></h5>
                                <div class="row mt-4 ">
                                    <div class="col-1 pt-2">
                                        <i class="fa-regular fa-clock" style="color: #000000;"></i>
                                    </div>
                                    <div class="col-5 pt-2">
                                        6 months
                                    </div>
                                    <div class="col-4">
                                        <a href="../../../../../assets/MEAN_STACK (1).pdf" download>
                                            <button class="btn">Brochure</button>
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-6 col-lg-3 col-xl-3 col-xxl-3 center">
                        <div class="card" >
                            <img src="../../../../../assets/weekend.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Weekend Batch
                                    only Sat, Sun</strong></h5>
                                <div class="row mt-4">
                                    <div class="col-1 pt-2">
                                        <i class="fa-regular fa-clock" style="color: #000000;"></i>
                                    </div>
                                    <div class="col-5 pt-2">
                                        1 year
                                    </div>
                                    <div class="col-4">
                                        <a href="" download>
                                            <button class="btn">Brochure</button>
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-6 col-lg-3 col-xl-3 col-xxl-3 center">
                        <div class="card" >
                            <img src="../../../../../assets/crt.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title align-items-justify"><strong>Guaranteed Placement</strong></h5>
                                <div class="row mt-5">
                                    <div class="col-1 pt-2">
                                        <i class="fa-regular fa-clock" style="color: #000000;"></i>
                                    </div>
                                    <div class="col-5 pt-2">
                                        6 months
                                    </div>
                                    <div class="col-4">
                                        <a href="" download>
                                            <button class="btn">Brochure</button>
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 col-xxl-11">
                        <h5 style="text-align:justify;"><strong>We specialize in MEAN Stack and Java Full Stack courses and plan to create
                            developers of future. Join us if you wish to learn Web Application Development with emphasis on
                            industry
                            standards.</strong></h5>
    
                    </div>
                </div>
            </div>
        </div>
    </div>

    
      
    </section>