.event {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fdf0e0;
  // background-image: url('../../assets/eventback.avif');
}
.section-heading1 {
  font: 50px poppin;
  color: #333;
  text-align: center;
}
.center {
  .calendar{
    text-align: center;
  }
  .startcalendar{
    width: 100px;
  }
  .image-container {
    position: relative;
    display: inline-block;  
  }

  .overlay-text {
    position: absolute;
    top: 75%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #333; 
    text-align: center;
  }
  .eventcontainer {
    padding: 0px 20px;
  }

  h2 {
    text-align: center;
    margin-bottom: 1rem;
    font: 30px poppin;
    color: #333;
  }

  h5 {
    font: 20px poppin;
    padding: 10px;
  }
  h4 {
    font: 20px poppin;
    margin-bottom: -5px;
    margin-top: 10px;
  }

  h3 {
    font: 17px poppin;
    padding: 10px;
  }
}

.eventimage {
  height: 20rem;
  width: 30rem;
}

.qrimage {
  height: 10rem;
  width: 12rem;
}

.eventcard {
  // background-color: #fff3e6;
  border-width: 2px;
  background-image: url('../../assets/eventback.avif');
  color: #fff;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.modal-body {
  padding: 20px;
}

.modal-img img {
  max-width: 15rem;
  height: 15rem;
}

.modal-text {
  h1 {
    font: 30px poppin;
    text-align: center;
  }

  h5 {
    font: 20px poppin;
    margin-top: 10px;
  }

  h3 {
    font: 25px poppin;
    margin-top: 2rem;
  }
}

.code {
  background-color: #fdf0e0;
}

.button {
  // padding-left: 15rem;
  // padding-top: 20px;
  margin-left: 14rem;
  margin-top: 0.5rem;
}

.knowbutton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #ff8a00;
  color: #ff8a00;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.knowbutton:hover {
  background-color: #ff8a00;
  color: #fff;
}

@media(max-width: 1200px) {
  .eventcontainer {
    .eventcard {
      .eventimage {
        height: 15rem;
        width: 18rem;
      }

      .center {
        .text {
          font-size: 22px;
        }

        .description {
          font-size: 18px;
        }

        .text-center {
          font-size: 16px;
          padding: 0px;
        }

        .knowbutton {
          font-size: 12px;
          height: max-content;
          width: max-content;
          padding: 5px;
          position: relative;
          //  right: rem;
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .section-heading1 {
    font-size: 30px;
    text-align: center;
  }

  .eventcontainer {
    .eventcard {
      .eventimage {
        height: 10rem;
        width: 15rem;
        margin-top: 20px;
      }

      .center {
        .text {
          font-size: 18px;
        }

        .description {
          font-size: 12px;
        }

        .text-center {
          font-size: 15px;
          padding: 0px;
        }

        .knowbutton {
          font-size: 10px;
          height: max-content;
          width: max-content;
          padding: 5px;
          position: relative;
          right: 5rem;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .section-heading1 {
    font-size: 25px;
    text-align: center;
  }
}





.placement {
  padding-top: 50px;
  padding-bottom: 50px;

  h2 {
    color: #0078b3;
  }

  .card {
    border-radius: 10px;
    align-items: center;
    padding-top: 20px;

    h5 {
      font: 20px poppins;
    }

    .placements {
      border-radius: 6px;
      padding: 10px 0px 5px 0px;
    }

    &.blue-background {
      background-color: #f1c431;
      color: #333;
    }

    &.green-background {
      background-color: #ff8a00;
      color: #fff;
    }
  }

  .card:hover {
    transform: scale(1.06);
    transition: all ease 0.5s;
  }

  .center {
    display: flex;
    justify-content: center;

  }
}

body {
  align-items: center;
  background: #ffffff;
  display: flex;
  justify-content: center;
}

h2 {
  color: #0078b3;
}
.section-heading2 {
  font: 50px poppin;
  color: #333;
  text-align: center;
}
@mixin white-gradient {
  background: linear-gradient(to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 8));
  }
}

// .clienthead {
//   .green-line {
//     height: 2px;
//     background-color: green;
//   }

//   .section-heading1 {
//     font: 50px poppin;
//     color: #333;
//     margin-bottom: 5px;
//     margin-left: 30px;
//     margin-top: -30px;
//     padding-bottom: 30px;
//   }
// }
.placementclass {
  width: 250px;
}

.palcement {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 20%;
  animation: linear infinite;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: px;
    z-index: 2;
  }

  &:hover div {
    animation-play-state: paused;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(200deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide {
    padding: 20px;
    border-radius: 2px;
    width: 300px;
  }

  .circle-container {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 2px;
  }

  .card-img-top {
    width: 100%;
    height: auto;
  }

  .circular-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.bodyrow {
  padding-top: 5px;
}

.gradient {
  align-items: stretch;
  margin: 1em 0;
  height: 2em;
  line-height: 2em;
  color: white;
  background: rgb(255, 116, 3);
  font-size: 40px;
}

body {
  margin: 40px;
}

.divider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

// @media (max-width: 900px) {
//   .gradient {
//     align-items: stretch;
//     margin: 1em 0;
//     height: 62px;
//     line-height: 2em;
//     color: white;
//     background: #ff7403;
//     font-size: 29px;
//     width: 70% !important;
//     margin-top: 37px;
//   }

//   .slider {
//     background: white;
//     box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
//     height: 410px;
//     margin: auto;
//     overflow: hidden;
//     position: relative;
//     width: 100%;
//     padding-bottom: 15%;
//     animation: linear infinite;
//     border-radius: 0px;
//   }
// }

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

@media (max-width: 1298px) {
  .placement {
    .placementcard {
      .circle-container {
        width: 7rem;
        height: 7rem;
        overflow: hidden;
        border-radius: 50%;
        margin-left: 2px;
      }

      .card-text-color {
        height: 8rem;
      }
    }
  }
}

@media (max-width: 1063px) {
  .placement {
    .placementcard {

      .circle-container {
        width: 5rem;
        height: 4rem;
        overflow: hidden;
        border-radius: 50%;
        margin-left: 2px;
      }

      .card-text-color {
        height: 5rem;

        .placements {
          padding: 2px;
        }

        .text-center {
          font-size: 8px;
        }
      }
    }
  }
}

.img-fluid {
  min-height: 200px;
  max-height: 200px;
  min-width: 200px;
  max-width: 200px;
}