.event {
  padding-top: 2rem;
  padding-bottom: 2rem;
  // background-color: rgb(228, 255, 255);
  background-color: #fdf0e0;
}

.eventhead {
  .green-line {
    height: 2px;
    background-color: green;
    margin-top: 3rem;
  }

  .section-heading1 {
    font: 50px poppin;
    color: #333;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 1rem;
    padding-bottom: 30px;
  }
}

.eventcontainer {
  padding: 0px 20px;
}
.center {
  h2 {
    text-align: center;
    margin-bottom: 1rem;
    font: 30px poppin;
    color: #333;
  }

  h5 {
    font: 20px poppin;
    padding: 10px;
  }

  h3 {
    font: 24px poppin;
    padding: 10px;
  }
}
.eventimage {
  height: 20rem;
  width: 30rem;
}
.qrimage {
  height: 10rem;
  width: 12rem;
}

.eventcard {
  // background-color: rgb(228, 255, 255);
  background-color: #fff3e6;

  border-width: 2px;
  // border-color: #ff8a00;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.modal-body {
  padding: 20px;
}

.modal-img img {
  max-width: 15rem;
  height: 15rem;
}

.modal-text {
  h1 {
    font: 30px poppin;
    text-align: center;
  }

  h5 {
    font: 20px poppin;
    margin-top: 10px;
  }

  h3 {
    font: 25px poppin;
    margin-top: 2rem;
  }
}

.code {
  background-color: #fdf0e0;
}

.button {
  padding-left: 10rem;
  padding-top: 20px;
}
.knowbutton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #ff8a00;
  color: #ff8a00;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.knowbutton:hover {
  background-color: #ff8a00;
  color: #fff;
}

.placement {
  padding-top: 50px;
  padding-bottom: 50px;
  h2 {
    color: #0078b3;
  }
  .card {
    width: 16rem;
    height: 21rem;
    border-radius: 10px;
    align-items: center;
    padding-top: 20px;

    img {
      border-radius: 10px;
    }

    h5 {
      font: 20px poppins;
    }

    .placements {
      border-radius: 6px;
      padding: 10px 0px 5px 0px;
    }

    &.blue-background {
      background-color: #f1c431;
      color: #333;
    }

    &.green-background {
      background-color: #ff8a00;
      color: #fff;
    }
  }

  .card:hover {
    transform: scale(1.06);
    transition: all ease 0.5s;
  }
  .center {
    display: flex;
    justify-content: center;
  }
}

body {
  align-items: center;
  background: #ffffff;
  display: flex;
  justify-content: center;
}
h2 {
  color: #0078b3;
}

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 8));
  }
}

.clienthead {
  .green-line {
    height: 2px;
    background-color: green;
  }

  .section-heading1 {
    font: 50px poppin;
    color: #333;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-top: -30px;
    padding-bottom: 30px;
  }
}

.palcement {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 20%;
  animation: linear infinite;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: px;
    z-index: 2;
  }

  &:hover div {
    animation-play-state: paused;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(200deg);
  }

  &::before {
    left: 0;
    top: 0;
  }
  .slide {
    height: 100px;
    width: 250;
    padding: 20px;
    border-radius: 2px;
  }

  .circle-container {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 2px;
  }

  .card-img-top {
    width: 100%;
    height: auto;
  }

  .circular-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}
.bodyrow{
  padding-top: 5px;
}

.gradient {
  align-items: stretch;
  margin: 1em 0;
  height: 2em;
  line-height: 2em;
  color: white;
  background: rgb(255, 116, 3);
  font-size: 40px;
}

body {
  margin: 40px;
}

.divider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

// @media (max-width: 900px) {
//   .gradient {
//     align-items: stretch;
//     margin: 1em 0;
//     height: 62px;
//     line-height: 2em;
//     color: white;
//     background: #ff7403;
//     font-size: 29px;
//     width: 70% !important;
//     margin-top: 37px;
//   }

//   .slider {
//     background: white;
//     box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
//     height: 410px;
//     margin: auto;
//     overflow: hidden;
//     position: relative;
//     width: 100%;
//     padding-bottom: 15%;
//     animation: linear infinite;
//     border-radius: 0px;
//   }
// }

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

@media (max-width: 1298px) {
  .placement {
    .placementcard {
      height: 18rem;
      .circle-container {
        width: 7rem;
        height: 7rem;
        overflow: hidden;
        border-radius: 50%;
        margin-left: 2px;
      }
      .card-text-color {
        height: 8rem;
      }
    }
  }
}
@media (max-width: 1063px) {
  .placement {
    .placementcard {
      height: 10rem;
      width: 9rem;
      .circle-container {
        width: 5rem;
        height: 4rem;
        overflow: hidden;
        border-radius: 50%;
        margin-left: 2px;
      }
      .card-text-color {
        height: 5rem;
        .placements{
          padding: 2px;
        }
        .text-center{
          font-size: 8px;
        }
      }
    }
  }
}

