.container-fluid {
  .heading {
    font: 40px poppins;
  }
  .page-content {
    max-width: 100%;
    margin-left: 32px auto;
    margin-right: 32px auto;
    background: #fff;
    .tab {
      .gallery {
        list-style: none;
        padding: 10px;
        margin: 0;
        display: flex;
      }
      .gallery li {
        cursor: pointer;
        padding: 10px;
        margin-right: 10px;
        background-color: white;
        color: black;
        border-radius: 5px;
        font: 25px poppins;
      }
      .gallery li.active {
        background-color: #ff8a00;
        color: black;
      }
      .tab-content {
        .gallery-container {
          background-image: url("../../assets/gallery.jpg");
          color: #ffffff;
          padding: 30px 50px;
          width: 100%;
          .lightbox img {
            width: 100%;
            border-radius: 0;
            position: relative;
            height: 15rem;
            padding-bottom: 24px;
            cursor: pointer;
          }
        }
      }
    }
  }
}


@media (max-width: 900px) {
  body {
    padding: 0;
    margin-top: 20%;
  }

  .tabs {
    display: flex;
    align-items: stretch;
    list-style: none;
    border-bottom: 1px solid #ccc;
    justify-content: center;
  }
}

.btn-close{
  position: relative;
  left: 48rem;
  font-size: 10px;
  cursor: pointer;
}
@media (max-width: 1000px){
  .btn-close{
    position: relative;
    left: 29.5rem;
  }
}
@media (max-width: 500px){
  .btn-close{
    position: relative;
    left: 24rem;
    font-size: 8px;
  }
}
@media (max-width: 376px){
  .btn-close{
    position: relative;
    left: 21rem;
  }
}
@media (max-width: 321px){
  .btn-close{
    position: relative;
    left: 18rem;
    font-size: 6px;
  }
}
