.container-fluid {
  .page-content {
    max-width: 100%;
    margin-left: 32px auto;
    margin-right: 32px auto;
    background: #fff;

    .tab {
      .gallery {
        list-style: none;
        padding: 10px;
        margin: 0;
        display: flex;
      }

      .gallery li {
        cursor: pointer;
        padding: 10px;
        margin-right: 10px;
        background-color: white;
        color: black;
        border-radius: 5px;
        font: 25px poppins;
      }

      .gallery li.active {
        background-color: #ff8a00;
        color: black;
      }

      .tab-content {
        .gallery-container {
          background-image: url("../../assets/gallery.jpg");
          color: #ffffff;
          padding: 30px 50px;
          width: 100%;
          .heading {
            font: 20px poppins;
            color: #ff7403;
            padding: 0%;
            margin-bottom: 10px;
          }
          .lightbox img {
            width: 100%;
            border-radius: 0;
            position: relative;

            height: 15rem;
            padding-bottom: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
}


@media (max-width: 900px) {
  body {
    padding: 0;
    margin-top: 20%;
  }

  .tabs {
    display: flex;
    align-items: stretch;
    list-style: none;
    border-bottom: 1px solid #ccc;
    justify-content: center;
  }
}


.imgmodel{
  background: linear-gradient(
    120deg,
    #FFC107 30%,
    #FD7E14 88%,
    #FD7E14 40%,
    #FFC107 78%
  );
  .btn-close{
    position: relative;
    left: 48rem;
    font-size: 10px;
    margin-top: 1rem;
    cursor: pointer;
  }
  .modal-body{
    .heading {
      font: 30px poppins;
      color: #201f1d;
      padding: 0%;
      margin-bottom: 10px;
    }

    .img {
      height: 35rem;
    }
  }
}


@media (max-width: 1000px){
  .imgmodel{
  .btn-close{
    position: relative;
    left: 29.5rem;
  }
}
}
@media (max-width:769px){
  .imgmodel{
    .btn-close{
      position: relative;
      left: 29rem;
      font-size: 8px;
    }
    .modal-body{
      .heading {
        font: 25px poppins;
        margin-bottom: 10px;
      }
      .img{
        height: 25rem;
      }
    }
  }
}
@media (max-width: 500px){
  .imgmodel{
    .btn-close{
      position: relative;
      left: 24rem;
      font-size: 8px;
    }
    .modal-body{
      .heading {
        font: 25px poppins;
        margin-bottom: 10px;
      }
      .img{
        height: 20rem;
      }
    }
  }
}
@media (max-width: 376px){
  .imgmodel{
    .btn-close{
      position: relative;
      left: 21rem;
    }
  }
}
@media (max-width: 321px){
  .imgmodel{
    .btn-close{
      position: relative;
      left: 18rem;
      font-size: 6px;
    }
  }

}
