<section id="gallery">
  <div class="container-fluid ">
    <div class="col-12">
      <div class="col-12 heading">
      <p class="text-center"><strong>Gallery</strong></p>
      </div>

      <div class="page-content">

        <div class="tab">
          <ul class="gallery justify-content-center">
            <li 
            [ngClass]="{ active: selectedTab == 'photo' }"
            (click)="showPhoto()">
            Photo
          </li>
          <li 
            [ngClass]="{ active: selectedTab == 'video' }"
            (click)="showVideo()">
            Video
          </li>
          </ul>

          <div class="card p-3 my-2" *ngIf="selectedTab == 'photo'">
            <Strong style="text-align: center">OUR PHOTOS</Strong>
          </div>
          <div class="card p-3 my-2" *ngIf="selectedTab == 'video'">
            <Strong style="text-align: center">OUR VIDEOS</Strong>
          </div>



          <div class="tab-content" *ngIf="selectedTab == 'photo'">
            <div class="container gallery-container">
              <div class="tz-gallery">
                <div class="row">
                  <div class="col-sm-12 col-md-4" *ngFor="let item of maindata">
                    <a class="lightbox" >
                      <img src= {{item.image}} alt="">
                    </a>
                  </div>
                </div>
              </div>              
            </div>
          </div>

          <div class="tab-content" *ngIf="selectedTab == 'video'">
            <div class="container gallery-container">
            <div class="tz-gallery">
              <div class="row">
                <div class="col-sm-12 col-md-4">
                  <a class="lightbox" href="https://youtu.be/dED71u5oH9M">
                    <img src="../../assets/gallery/Screenshot 2023-05-17 113220.png" alt="Bridge">
                  </a>
                </div>
              </div>
            </div>
          </div>
          </div>


        </div>
      </div>
  </div>
  </div>
</section>

