
// @import '~bootstrap/scss/bootstrap';
@import "ngx-toastr/toastr";
// @import "/node_modules/ngx-spinner/animations/ball-scale-multiple.css";

*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
}


section{

   padding-top: 20px;
}