<section id="development-resources">
  <div class="container-fluid development">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-11 col-xl-11 col-xxl-11">
       

    <div style="display: flex; flex-wrap: nowrap;">
      <div fxhide.xs="true" fxflex="45" style="flex: 1 1 100%; box-sizing: border-box; max-width: 45%">
          <div class="green-line"></div>
      </div>
      <div fxflex="" style="flex: 1 1 0%; box-sizing: border-box;">
          <div class="section-heading1">
            Development & Resourcing
          </div>
      </div>
  </div>
  

        <div class="row justify-content-center">
          <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 col-xl-6 col-xxl-6">
            <div class="row">
              <div
                class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mobile"
              >
                <div
                  class="card move content"
                  (click)="setActive('WebsiteDevelopment')"
                >
                  <img
                    src="../../../../../assets/website.png"
                    class="image mt-4"
                    alt="..."
                  />
                  <div class="card-body mt-4">
                    <h5 class="card-text">
                      <strong>Website Development</strong>
                    </h5>
                  </div>
                </div>

                <div class="card mt-3" (click)="setActive('WebApplication')">
                  <img
                    src="../../../../../assets/mobile.png"
                    class="image mt-4"
                    alt="..."
                  />
                  <div class="card-body mt-4">
                    <h5 class="card-text">
                      <strong>Web Application Development </strong>
                    </h5>
                  </div>
                </div>
              </div>
              <div
                class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mobile"
              >
                <div class="card mt-3" (click)="setActive('MobileApp')">
                  <img
                    src="../../../../../assets/webs app development.png"
                    class="image mt-4"
                    alt="..."
                  />
                  <div class="card-body mt-4">
                    <h5 class="card-text">
                      <strong>Mobile App Development</strong>
                    </h5>
                  </div>
                </div>
                <div class="card mt-3" (click)="setActive('Resourcing')">
                  <img
                    src="../../../../../assets/resourcing.png"
                    class="image mt-4"
                    alt="..."
                  />
                  <div class="card-body mt-4">
                    <h5 class="card-text"><strong>Resourcing</strong></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-xs-12 col-sm-7 col-md-6 col-lg-8 col-xl-6 col-xxl-6 content"
          >
            <div class="row justify-content-center my-5">
              <ng-container *ngIf="active == 'WebsiteDevelopment'">
                <div class="head">WEBSITE DEVELOPMENT</div>
                <div class="container">
                  <div class="row">
                    <div class="card22">
                      <div class="card-body">
                        <p>
                          Web development is the work involved in developing a
                          website for the Internet (World Wide Web) or an
                          intranet (a private network). Web development can
                          range from developing a simple single static page of
                          plain text to complex web applications, electronic
                          businesses, and social network services.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="active == 'WebApplication'">
                <div class="head">WEB APPLICATION</div>
                <div class="container">
                  <div class="row">
                    <div class="card22">
                      <div class="card-body">
                        <p>
                          What is a Web Application? A web application is
                          software that runs in your web browser. Businesses
                          have to exchange information and deliver services
                          remotely. They use web applications to connect with
                          customers conveniently and securely.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="active == 'MobileApp'">
                <div class="head">MOBILE APP DEVELOPMENT</div>
                <div class="container">
                  <div class="row">
                    <div class="card22">
                      <div class="card-body">
                        <p>
                          Mobile app development is the act or process by which
                          a mobile app is developed for one or more mobile
                          devices, which can include personal digital assistants
                          (PDA), enterprise digital assistants (EDA), or mobile
                          phones.[1] Such software applications are specifically
                          designed to run on mobile devices, taking numerous
                          hardware constraints into consideration. Common
                          constraints include CPU architecture and speeds,
                          available memory (RAM), limited data storage
                          capacities, and considerable variation in displays
                          (technology, size, dimensions, resolution) and input
                          methods (buttons, keyboard, touch screens with/without
                          styluses).[2] These applications (or 'apps') can be
                          pre-installed on phones during manufacturing or
                          delivered as web applications, using server-side or
                          client-side processing (e.g., JavaScript) to provide
                          an "application-like" experience within a web browser.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="active == 'Resourcing'">
                <div class="head">RESOURCING</div>
                <div class="container">
                  <div class="row">
                    <div class="card22">
                      <div class="card-body">
                        <p>
                          Resourcing is the process of allocating money,
                          workers, and skills to a specific job or task. It can
                          also refer to the process of attracting and recruiting
                          people for the right role at the right time and cost.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- step -->
<div class="stepcontainer col-sm-4 col-md-4 col-lg-12 col-xl-12 col-xxl-12">
  <div class="heading1 col-md-12">How We Work</div>
  <div class="heading2 subheading col-md-12">
    Roadmap To Your Success
  </div>
  <div class="container">
   <div class="row">
      <div class="column d-flex">

      <div class="card-heading">
        <div class="step">Step 1</div>
        <div class="card stepcard">
          <div class="stepimage">
            <img
              class="img-fluid"
              src="../../assets/step/registerpng.png"
            />
          </div>
          <div class="bottom-text">Register with S2P</div>
        </div>
      </div>

      <div class="card-heading">
        <div class="step">Step 2</div>
        <div class="card stepcard">
          <div class="stepimage">
            <img
              class="img-fluid"
              src="../../assets/step/enroll.png"
            />
          </div>
          <div class="bottom-text">Enroll In A Course</div>
        </div>
      </div>

      <div class="card-heading">
        <div class="step">Step 3</div>
        <div class="card stepcard">
          <div class="stepimage">
            <img
              class="img-fluid"
              src="../../assets/step/rating.png"
            />
          </div>
          <div class="bottom-text">Learn From Experts</div>
        </div>
      </div>


      <div class="card-heading">
        <div class="step">Step 4</div>
        <div class="card stepcard">
          <div class="stepimage">
            <img
              class="img-fluid"
              src="../../assets/step/assignment.png"
            />
          </div>
          <div class="bottom-text">Complete Assignments</div>
        </div>
      </div>

      <div class="card-heading">
        <div class="step">Step 5</div>
        <div class="card stepcard">
          <div class="stepimage">
            <img
              class="img-fluid"
              src="../../assets/step/completed-task.png"
            />
          </div>
          <div class="bottom-text">Complete The Course</div>
        </div>
      </div>

      <div class="card-heading">
        <div class="step">Step 6</div>
        <div class="card stepcard">
          <div class="stepimage">
            <img
              class="img-fluid"
              src="../../assets/step/jobprofilepng.png"
            />
          </div>
          <div class="bottom-text"> Create a Job Profile</div>
        </div>
      </div>

      <div class="card-heading">
        <div class="step">Step 7</div>
        <div class="card stepcard">
          <div class="stepimage">
            <img
              class="img-fluid"
              src="../../assets/step/job-interview.png"
            />
          </div>
          <div class="bottom-text">Appear For Interviews</div>
        </div>
      </div>

      <div class="card-heading">
        <div class="step">Step 8</div>
        <div class="card stepcard">
          <div class="stepimage">
            <img
              class="img-fluid"
              src="../../assets/step/placedpng.png"
            />
          </div>
          <div class="bottom-text">Get Placed</div>
        </div>
      </div>
    

     

    </div>
  </div>
</div>
</div>


  <div class="container-fluid client">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
       
        <div class="clienthead" style="display: flex; flex-wrap: nowrap;">
          <div fxhide.xs="true" fxflex="45" style="flex: 1 1 100%; box-sizing: border-box; max-width: 45%">
              <div class="green-line"></div>
          </div>
          <div fxflex="" style="flex: 1 1 0%; box-sizing: border-box;">
              <div class="section-heading1">
                Clients
              </div>
          </div>
      </div>

        <div class="slider">
          <div class="slide-track">
            <div class="slide">
              <img
                src="../../assets/new client/Adarsh Vidya Mandir.jpeg"
                alt="Adarsh-Vidya-Mandir"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Chistats.jpeg"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Contetial-removebg-preview.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/DeviseElectronics.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Gluck_International-removebg-preview.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Inapp Technologies.jpg"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Inheritchain.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/National Institute of Technical and Management Studies.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Neutral Advocate.jpg"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Rapid_Proposal-removebg-preview.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/WhiteCube Solutions.jpeg"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Adarsh Vidya Mandir.jpeg"
                alt="Adarsh-Vidya-Mandir"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Chistats.jpeg"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Contetial-removebg-preview.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/DeviseElectronics.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Gluck_International-removebg-preview.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Inapp Technologies.jpg"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Inheritchain.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/National Institute of Technical and Management Studies.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Neutral Advocate.jpg"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Rapid_Proposal-removebg-preview.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/WhiteCube Solutions.jpeg"
                height="150"
                width="250"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


