<section id="development-resources">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <div style="display: flex; flex-wrap: nowrap">
      <div fxhide.xs="true" style="flex: 1 1 100%; box-sizing: border-box; max-width: 30%">
        <div class="green-line"></div>
      </div>
      <div style="flex: 1 1 0%; box-sizing: border-box">
        <div class="section-heading1">Development & Resourcing</div>
      </div>
      <div fxhide.xs="true" style="flex: 1 1 100%; box-sizing: border-box; max-width: 30%">
        <div class="green-line"></div>
      </div>
    </div>
  </div>
  <div class="container development">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="row justify-content-center">
          <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 col-xl-6 col-xxl-6 component">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mobile">
                <div class="card move content card01" (click)="setActive('WebsiteDevelopment')">
                  <img src="../../../../../assets/website.png" class="image mt-4" alt="..." />
                  <div class="card-body mt-4">
                    <h5 class="card-text">
                      <strong>Website Development</strong>
                    </h5>
                  </div>
                </div>

                <div class="card card01 mt-3" (click)="setActive('WebApplication')">
                  <img src="../../../../../assets/mobile.png" class="image mt-4" alt="..." />
                  <div class="card-body mt-4">
                    <h5 class="card-text">
                      <strong>Web Application Development </strong>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mobile">
                <div class="card card01 mt-3" (click)="setActive('MobileApp')">
                  <img src="../../../../../assets/webs app development.png" class="image mt-4" alt="..." />
                  <div class="card-body mt-4">
                    <h5 class="card-text">
                      <strong>Mobile App Development</strong>
                    </h5>
                  </div>
                </div>
                <div class="card card01 mt-3" (click)="setActive('Resourcing')">
                  <img src="../../../../../assets/resourcing.png" class="image mt-4" alt="..." />
                  <div class="card-body mt-4">
                    <h5 class="card-text"><strong>Resourcing</strong></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-6 col-lg-8 col-xl-6 col-xxl-6 content">
            <div class="row justify-content-center my-5">
              <div class="container">
                <div class="row">
                  <div>
                    <div class="head">
                      <strong>WHAT WE DO ?</strong>
                    </div>
                    <div class="headingtext">
                      We are a team of young and talented and energetic developers who are keen on taking up new challenge everytime. 
                      If you wish to build a simple website, or a Web Application or a Mobile Application for your business, contact us, and we would be happy to help. 
                      Our Team specializes in creating beautiful UI in Angular and API's in NodeJS supporting MySQL/MongoDB Database. 
                      We also have good expertise in creating Hybrid/Cross Platform mobile applications using Ionic Framework. 
                      Also, if you are in search of resources in MEAN Stack/Java Full Stack/ SAP Hybris, you have come to the right place. 
                      Our teams average experience is 2-3 years and our commitment is no less.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- step -->
  <div class="container-fluid stepcontainer col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"
    style="height: max-content">
    <div class="heading1 row">How We Work</div>
    <div class="heading2 subheading row">Roadmap To Your Success</div>
    <div class="container">
      <div class="row">
        <!-- <div class="col-xs-6 col-sm-6 col-md-3 col-lg-12 col-xl-12 col-xxl-12"
        style="padding-top: 1.5rem; padding-bottom: 3rem"> -->
        <!-- <div class="d-flex justify-content-center"> -->

        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 col-xl-2 col-xxl-2"
          style="padding-top: 1.5rem; padding-bottom: 3rem">
          <div class="card-heading">
            <div class="step">Step 1</div>
            <div class="card stepcard justify-content-center">
              <div class="stepimage">
                <img class="img-fluid" src="../../assets/step/registerpng.png" />
              </div>
              <div class="bottom-text">Register with S2P</div>
            </div>
          </div>
        </div>

        <!-- <div class="col-xs-6 col-sm-6 col-md-3 col-lg-auto col-xl-1 col-xxl-auto"
        style="padding-top: 1.5rem; padding-bottom: 3rem">
          <div class="card-heading">
            <div class="step">Step 2</div>
            <div class="card stepcard">
              <div class="stepimage">
                <img class="img-fluid" src="../../assets/step/enroll.png" />
              </div>
              <div class="bottom-text">Enroll In A Course</div>
            </div>
          </div>
        </div> -->

        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 col-xl-2 col-xxl-2"
          style="padding-top: 1.5rem; padding-bottom: 3rem">
          <div class="card-heading">
            <div class="step">Step 2</div>
            <div class="card stepcard justify-content-center">
              <div class="stepimage">
                <img class="img-fluid" src="../../assets/step/rating.png" />
              </div>
              <div class="bottom-text">Learn From Experts</div>
            </div>
          </div>
        </div>

        <!-- <div class="col-xs-6 col-sm-6 col-md-3 col-lg-auto col-xl-1 col-xxl-auto"
        style="padding-top: 1.5rem; padding-bottom: 3rem">
          <div class="card-heading">
            <div class="step">Step 4</div>
            <div class="card stepcard">
              <div class="stepimage">
                <img class="img-fluid" src="../../assets/step/assignment.png" />
              </div>
              <div class="bottom-text">Complete Assignments</div>
            </div>
          </div>
        </div> -->

        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 col-xl-2 col-xxl-2"
          style="padding-top: 1.5rem; padding-bottom: 3rem">
          <div class="card-heading">
            <div class="step">Step 3</div>
            <div class="card stepcard justify-content-center">
              <div class="stepimage">
                <img class="img-fluid" src="../../assets/step/completed-task.png" />
              </div>
              <div class="bottom-text">Complete The Course</div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 col-xl-2 col-xxl-2"
          style="padding-top: 1.5rem; padding-bottom: 3rem">
          <div class="card-heading">
            <div class="step">Step 4</div>
            <div class="card stepcard justify-content-center">
              <div class="stepimage">
                <img class="img-fluid" src="../../assets/step/jobprofilepng.png" />
              </div>
              <div class="bottom-text">Create a Job Profile</div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 col-xl-2 col-xxl-2"
          style="padding-top: 1.5rem; padding-bottom: 3rem">
          <div class="card-heading">
            <div class="step">Step 5</div>
            <div class="card stepcard justify-content-center">
              <div class="stepimage">
                <img class="img-fluid" src="../../assets/step/job-interview.png" />
              </div>
              <div class="bottom-text">Appear For Interviews</div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 col-xl-2 col-xxl-2"
          style="padding-top: 1.5rem; padding-bottom: 3rem">
          <div class="card-heading">
            <div class="step">Step 6</div>
            <div class="card stepcard justify-content-center">
              <div class="stepimage">
                <img class="img-fluid" src="../../assets/step/placedpng.png" />
              </div>
              <div class="bottom-text">Get Placed</div>
            </div>
          </div>
        </div>

        <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>

  </div>

  <!-- cient -->
  <div class="container-fluid client">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="clienthead" style="display: flex; flex-wrap: nowrap">
          <div fxhide.xs="true" style="flex: 1 1 100%; box-sizing: border-box; max-width: 45%">
            <div class="green-line"></div>
          </div>
          <div fxflex="" style="flex: 1 1 0%; box-sizing: border-box">
            <div class="section-heading2">Clients</div>
          </div>
          <div fxhide.xs="true" style="flex: 1 1 100%; box-sizing: border-box; max-width: 45%">
            <div class="green-line"></div>
          </div>
        </div>

        <div class="slider slider2">
          <div class="slide-track">
            <div class="slide" *ngFor="let client of clientiterate">
              <img [src]="client.image" height="150" width="250" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>