<section id="development-resources">
  <div class="container-fluid development">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div style="display: flex; flex-wrap: nowrap">
          <div
            fxhide.xs="true"            
            style="flex: 1 1 100%; box-sizing: border-box; max-width: 30%"
          >
            <div class="green-line"></div>
          </div>
          <div style="flex: 1 1 0%; box-sizing: border-box">
            <div class="section-heading1">Development & Resourcing</div>
          </div>
          <div
            fxhide.xs="true"
            style="flex: 1 1 100%; box-sizing: border-box; max-width: 30%"
          >
            <div class="green-line"></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
       

        <div class="row justify-content-center">
          <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 col-xl-6 col-xxl-6">
            <div class="row">
              <div
                class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mobile"
              >
                <div
                  class="card move content card01"
                  (click)="setActive('WebsiteDevelopment')"
                >
                  <img
                    src="../../../../../assets/website.png"
                    class="image mt-4"
                    alt="..."
                  />
                  <div class="card-body mt-4">
                    <h5 class="card-text">
                      <strong>Website Development</strong>
                    </h5>
                  </div>
                </div>

                <div class="card card01 mt-3" (click)="setActive('WebApplication')">
                  <img
                    src="../../../../../assets/mobile.png"
                    class="image mt-4"
                    alt="..."
                  />
                  <div class="card-body mt-4">
                    <h5 class="card-text">
                      <strong>Web Application Development </strong>
                    </h5>
                  </div>
                </div>
              </div>
              <div
                class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mobile"
              >
                <div class="card card01 mt-3" (click)="setActive('MobileApp')">
                  <img
                    src="../../../../../assets/webs app development.png"
                    class="image mt-4"
                    alt="..."
                  />
                  <div class="card-body mt-4">
                    <h5 class="card-text">
                      <strong>Mobile App Development</strong>
                    </h5>
                  </div>
                </div>
                <div class="card card01 mt-3" (click)="setActive('Resourcing')">
                  <img
                    src="../../../../../assets/resourcing.png"
                    class="image mt-4"
                    alt="..."
                  />
                  <div class="card-body mt-4">
                    <h5 class="card-text"><strong>Resourcing</strong></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-xs-12 col-sm-7 col-md-6 col-lg-8 col-xl-6 col-xxl-6 content"
          >
            <div class="row justify-content-center my-5">
              <ng-container *ngIf="active == 'WebsiteDevelopment'">
                <div class="container">
                  <div class="row">
                    <div class="card card22" style="width: auto; height: auto">
                      <div class="head" style="text-align: center">
                        <strong>WEBSITE DEVELOPMENT</strong>
                      </div>
                      <div class="body">
                        {{ website }}
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="active == 'WebApplication'">
                <div class="container">
                  <div class="row">
                    <div class="card card22" style="width: auto; height: auto">
                      <div class="head" style="text-align: center">
                        <strong>WEB APPLICATION</strong>
                      </div>
                      <div class="body">
                        {{ web }}
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="active == 'MobileApp'">
                <div class="container">
                  <div class="row">
                    <div class="card card22" style="width: auto; height: auto">
                      <div class="head" style="text-align: center">
                        <strong>MOBILE APP DEVELOPMENT</strong>
                      </div>
                      <div class="body">
                        {{ mobile }}
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="active == 'Resourcing'">
                <div class="container">
                  <div class="row">
                    <div class="card card22" style="width: auto; height: auto">
                      <div class="head" style="text-align: center">
                        <strong>RESOURCING</strong>
                      </div>
                      <div class="body">
                        {{ resoucing }}
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- step -->
  <div class="container-fluid stepcontainer col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <div class="heading1 col-md-12">How We Work</div>
    <div class="heading2 subheading col-md-12">Roadmap To Your Success</div>
    <div class="container container1">
        <div class="slider slider1">
          <div class="slide-track">

          <div class="card-heading">
            <div class="step">Step 1</div>
            <div class="card stepcard">
              <div class="stepimage">
                <img
                  class="img-fluid"
                  src="../../assets/step/registerpng.png"
                />
              </div>
              <div class="bottom-text">Register with S2P</div>
            </div>
          </div>

          <div class="card-heading">
            <div class="step">Step 2</div>
            <div class="card stepcard">
              <div class="stepimage">
                <img class="img-fluid" src="../../assets/step/enroll.png" />
              </div>
              <div class="bottom-text">Enroll In A Course</div>
            </div>
          </div>

          <div class="card-heading">
            <div class="step">Step 3</div>
            <div class="card stepcard">
              <div class="stepimage">
                <img class="img-fluid" src="../../assets/step/rating.png" />
              </div>
              <div class="bottom-text">Learn From Experts</div>
            </div>
          </div>

          <div class="card-heading">
            <div class="step">Step 4</div>
            <div class="card stepcard">
              <div class="stepimage">
                <img class="img-fluid" src="../../assets/step/assignment.png" />
              </div>
              <div class="bottom-text">Complete Assignments</div>
            </div>
          </div>

          <div class="card-heading">
            <div class="step">Step 5</div>
            <div class="card stepcard">
              <div class="stepimage">
                <img
                  class="img-fluid"
                  src="../../assets/step/completed-task.png"
                />
              </div>
              <div class="bottom-text">Complete The Course</div>
            </div>
          </div>

          <div class="card-heading">
            <div class="step">Step 6</div>
            <div class="card stepcard">
              <div class="stepimage">
                <img
                  class="img-fluid"
                  src="../../assets/step/jobprofilepng.png"
                />
              </div>
              <div class="bottom-text">Create a Job Profile</div>
            </div>
          </div>

          <div class="card-heading">
            <div class="step">Step 7</div>
            <div class="card stepcard">
              <div class="stepimage">
                <img
                  class="img-fluid"
                  src="../../assets/step/job-interview.png"
                />
              </div>
              <div class="bottom-text">Appear For Interviews</div>
            </div>
          </div>

          <div class="card-heading">
            <div class="step">Step 8</div>
            <div class="card stepcard">
              <div class="stepimage">
                <img class="img-fluid" src="../../assets/step/placedpng.png" />
              </div>
              <div class="bottom-text">Get Placed</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- cient -->
  <div class="container-fluid client">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="clienthead" style="display: flex; flex-wrap: nowrap">
          <div
            fxhide.xs="true"
            style="flex: 1 1 100%; box-sizing: border-box; max-width: 45%"
          >
            <div class="green-line"></div>
          </div>
          <div fxflex="" style="flex: 1 1 0%; box-sizing: border-box">
            <div class="section-heading2">Clients</div>
          </div>
          <div
            fxhide.xs="true"
            style="flex: 1 1 100%; box-sizing: border-box; max-width: 45%"
          >
            <div class="green-line"></div>
          </div>
        </div>

        <div class="slider slider2">
          <div class="slide-track">
            <div class="slide">
              <img
                src="../../assets/new client/Adarsh Vidya Mandir.jpeg"
                alt="Adarsh-Vidya-Mandir"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Chistats.jpeg"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Contetial-removebg-preview.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/DeviseElectronics.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Gluck_International-removebg-preview.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Inapp Technologies.jpg"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Inheritchain.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/National Institute of Technical and Management Studies.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Neutral Advocate.jpg"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Rapid_Proposal-removebg-preview.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/WhiteCube Solutions.jpeg"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Adarsh Vidya Mandir.jpeg"
                alt="Adarsh-Vidya-Mandir"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Chistats.jpeg"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Contetial-removebg-preview.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/DeviseElectronics.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Gluck_International-removebg-preview.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Inapp Technologies.jpg"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Inheritchain.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/National Institute of Technical and Management Studies.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Neutral Advocate.jpg"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/Rapid_Proposal-removebg-preview.png"
                height="150"
                width="250"
                alt=""
              />
            </div>
            <div class="slide">
              <img
                src="../../assets/new client/WhiteCube Solutions.jpeg"
                height="150"
                width="250"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


