.development {
  background-color: #fafafad7;

  .card01 {
    border-radius: 13px;
    box-shadow: 0px 4px 4px 0px #ff8a00;
    padding: 10px;
    border: 2px solid #ff8a00;
    width: 206px;
    height: 240px;

    .image {
      width: 98px;
      height: 70px;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .card01:hover {
    // background-color: #ff8a00;
    transform: scale(1.03);
    transition: all ease 0.1s;
  }

  h2 {
    color: #0078b3;
  }

  .text {
    text-align: justify;
  }
}

.modal-body {
  padding: 20px;
  background-color: #fdf0e0;
  height: max-content;
  width: 32rem;

  p {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
  }
  .modal-header {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
  }
  .modal-title {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
  }
  .subheading {
    text-align: center;
    color: #502400;
    font-size: 20px;
    padding-bottom: 5px;
    font-family: Montserrat, sans-serif;
  }
  .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1050; 
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  
  .btn-close:focus {
    outline: none;
  }
}


.card22 {
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.headingtext {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-size: 20px;
  line-height: 1.6;
  color: #924c06;
  font-family: "Times New Roman", Times, serif;
  padding-right: 100px;
}

/* Add media query for responsiveness */
@media only screen and (max-width: 600px) {
  .headingtext {
    font-size: 16px;
  }
}

.green-line {
  height: 2px;
  background-color: green;
}

.section-heading1 {
  font: 50px poppin;
  color: #333;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-top: -30px;
}

.section-heading2 {
  font: 50px poppin;
  color: #333;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -30px;
}

.card22 {
  .body {
    font: 20px poppin;
    padding: 10px 30px 10px 30px;
  }
}

@media (min-width: 769px) {
  .move {
    position: relative;
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  .content {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 764px) {
  .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
  }
}

.head {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  padding-right: 100px;
}

// <---Client CSS--->

.clienthead {
  padding-top: 5rem;
}

body {
  align-items: center;
  background: #ffffff;
  display: flex;
  height: 100vh;
  justify-content: center;
}

h2 {
  color: #0078b3;
}

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeed: 15s;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 8));
  }
}

.slider2 {
  background: rgb(255, 255, 255);
  // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 20%;
  animation: linear infinite;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: px;
    z-index: 2;
  }

  &:hover div {
    animation-play-state: paused;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(200deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 80);
  }

  .slide {
    height: 100px;
    width: 250;
    padding: 20px;
    border-radius: 2px;
  }
}



// step
.stepcontainer {
  // background-color: #ffe667;
  background-color: #1e2c7c;
  border-radius: 0 250px 0 250px;
  margin-top: 7rem;
  margin-bottom: 3rem;
  // height: 25rem;

  // .slider1 {
  //   background-color: #1e2c7c;
  //   margin-top: 1.5rem;
  //   overflow: hidden;
  //   position: relative;
  //   animation: linear infinite;
  // }

  // .slide-track {
  //   animation: scroll $animationSpeed linear infinite;
  //   display: flex;
  //   width: calc(250px * 80);
  // }

  // .container1 {
  //   width: 80%;
  // }

  // &:hover div {
  //   animation-play-state: paused;
  // }
}


.heading1 {
  padding: 10px 150px;
  font: 50px poppins;
  color: #669fff;
}

.heading2 {
  font-weight: bold;
  font: 45px poppins;
  padding: 0px 150px;
  color: #ffffff;
}

.card-heading {
  padding: 0px 0px 0px 20px;
}

.step {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  font: 20px poppins;
  color: #ffffff;
}

.stepcard {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  width: 140px;
  height: 170px;
}

.stepimage {
  width: 6rem;
  height: 6rem;
}

.bottom-text {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  font: 20px poppins;
  color: #000000;
}


@media(max-width: 576px){
.ng-template{
  width: 50%;
}
.modal-content{
  width: 30%;
}
}