<section id="main">
  <div class="container-fluid top-row">
    <div class="row justify-content-center mt-">
      <div
        class="col-xs-12 col-sm-12 col-md-5 col-lg-7 col-xl-7 col-xxl-8 top-margin"
      >
        <div class="text" [@textAnimation]="animationState">
          <h1>Your Placement</h1>
          <h1 class="mx-5">Our</h1>
          <h1>Responsibilty.</h1>
        </div>
      </div>
    </div>
    <div
      class="gif col-xs-12 col-sm-12 col-md-5 col-lg-6 col-xl-6 col-xxl-5 d-flex"
      style="justify-content: right"
    >
      <img src="../../assets/landing22.gif" class="img-fluid" />
    </div>
    <div class="row center mt-3 my-5">
      <div
        class="bottom col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 col-xxl-10 text-center"
      >
        <h2><strong>Learn to build software with S2P Edutech.</strong></h2>
      </div>
    </div>
  </div>
</section>
