.navbar {
  padding: 0px 16px;
  .navbar-brand img {
    width: 81px;
    height: 70px;
  }
  .collapse {
    .navbar-nav {
      margin-left: 20px;
      .nav-item {
        margin-left: 70px;
        .nav-link {
          color: #000000;
          font-family: "Helvetica";
          height: 18px;
          font-size: 18px;
          line-height: 18.04px;
          &:hover {
            color: #f26522;
          }
        }
      }
    }
.form-inline{
    margin-right: 50px;

  .btn-primary {
    background-color: #ffffff;
    border-color: #f26522;
    color: #f26522;
    &:hover {
      background-color: #f26522;
      border-color: #f26522;
      color: #ffffff;
      border-radius: 10px;
    }
  }
  .btn-secondary {
    background-color: #ffffff;
    border-color: #f26522;
    color: #f26522;

    &:hover {
      background-color: #f26522;
      border-color: #f26522;
      color: #ffffff;
      border-radius: 10px;

    }
  }
}

  }
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

// .ellipse {
//     position: absolute;
//     width: 207px;
//     height: 207px;
//     top: -115px;
//     left: 1005px;
//     background-color: #e0551505; /* Change color as needed */
//     border-radius: 50%; /* To make it a circle */
//     margin-right: 150px;
//   }
