.navbar-brand img {
    margin-right: 20px;

}

.navbar-nav {
    margin-left: 20px;
}

.navbar-nav .nav-item {
    margin-right: 65px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.navbar-nav .nav-item .nav-link {
    color: #000000;
    font-family: 'Helvetica';
    Width: 76px;
    Height: 18px;
    Top: 48px;
    Left: 304px;

    &:hover {
        color: #F26522;
    }
}

.btn-primary {
    background-color: #ffffff; // Default background color
    border-color: #F26522; // Default border color
    color: #F26522; // Default text color
    border-width: 1.9px; // Border width

    &:hover {
        background-color: #F26522; // Hover background color
        border-color: #F26522; // Hover border color
        color: #ffffff; // Hover text color
    }
}

.btn-secondary {
    background-color: #ffffff; // Default background color
    border-color: #F26522; // Default border color
    color: #F26522; // Default text color
    border-radius: 7;

    &:hover {
        background-color: #F26522; // Hover background color
        border-color: #F26522; // Hover border color
        color: #ffffff; // Hover text color
    }
}
.ellipse {
    position: absolute;
    width: 207px;
    height: 207px;
    top: -115px;
    left: 1005px;
    background-color: #e0551505; /* Change color as needed */
    border-radius: 50%; /* To make it a circle */
    margin-right: 150px;
  }