.navbar {
  padding: 0px 16px;

  z-index: 1111;
  .navbar-brand img {
    width: 81px;
    height: 70px;
  }
  .collapse {
    z-index: 2;
    .navbar-nav {
      margin-left: 20px;
      .nav-item {
        margin-left: 70px;
        .nav-link {
          color: #000000;
          font-family: "Helvetica";
          height: 18px;
          font-size: 18px;
          line-height: 18.04px;
          &:hover {
            color: #f26522;
          }
        }
      }
    }
.form-inline{
    margin-right: 50px;

  .btn-primary {
    background-color: #ffffff;
    border-color: #f26522;
    color: #f26522;
    // &:hover {
    //   background-color: #f26522;
    //   border-color: #f26522;
    //   color: #ffffff;
    //   border-radius: 10px;
    // }
  }
  .btn-secondary {
    background-color: #f26522;
      border-color: #f26522;
      color: #ffffff;
      border-radius: 7px;
  }
}

  }
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}


.blob {
  position: absolute;
  z-index: 1;
  top: -50%;
  left: 60%;
  width: 400px;
  height: 150px;
  border-radius: 70%;
  background: rgba(247, 149, 33, 1);

  opacity: 1;
  filter: blur(180px);
}