<div id="header" class="col-md-12" [ngClass]="{'fixed-header': !headerVisible, 'initial-header': headerVisible}">
    <nav [class.header]="!headerVisible">

        <h1 class="logo me-auto" (click)="navigateTo('landing')"><a href="index.html"><img
                    src="../../../assets/s2pLogo.png"></a></h1>


        <label class="hamburger" for="toggle">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </label>
        <ul class="nav-links justify-content-end">
            <li class="dropbtn"><a class="nav-links" (click)="navigateTo('/landing');routeTo('header')">
                    <strong> Home</strong>
                </a></li>
            <li class="dropbtn"><a class="nav-links" (click)="navigateTo('/landing');routeTo('placements')" >
                    <strong>Placement</strong></a></li>
            <li class="dropbtn"><a class="nav-links" (click)="navigateTo('/landing');routeTo('development-resources')"> <strong>Development &
                        Resources</strong></a></li>
            <li class="dropbtn"><a class="nav-links" (click)="navigateTo('/landing');routeTo('training')"><strong>Training </strong></a>
            </li>
            <li class="dropbtn"><a class="nav-links" (click)="navigateTo('gallery')"><strong>Gallery</strong></a></li>
            <li class="dropbtn"><a class="nav-links" (click)="navigateTo('contact')"><strong>Contact</strong></a></li>

        </ul>

    </nav>
</div>
