<!-- <div class="container-fluid tools mt-5">

  <div class="row justify-content-center mt-5">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

      <h2 class="text-center"><strong>Get trained in 10+/tools & technologies</strong></h2>
      <div class="row justify-content-center mt-3">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6 col-xl-4 col-xxl-4 backgroundcol  text-center">
          <img class="" src="../../assets/tools/Group 66.jpg">
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6 col-xl-4 col-xxl-4 backgroundcol text-center ">
          <img class="" src="../../assets/tools/Group 67.png">
        </div>
      </div>

      <div class="row justify-content-center mt-lg-3">
      
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6 col-xl-4 col-xxl-4 backgroundcol text-center">
          <img class="" src="../../assets/tools/Group 68.png">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6 col-xl-4  col-xxl-4 backgroundcol text-center">
          <img class="" src="../../assets/tools/Group 69.png">
        </div>
      </div>
    </div>
  </div>

</div> -->


<div class="container-fluid tools mt-5">
  <div class="row justify-content-center mt-5">
    <div style="display: flex; flex-wrap: nowrap;">
      <div fxhide.xs="true" style="flex: 1 1 100%; box-sizing: border-box; max-width: 25%">
          <div class="green-line"></div>
      </div>
      <div style="flex: 1 1 0%; box-sizing: border-box;">
          <div class="section-heading1">
            Get trained in tools & technologies
          </div>
      </div>
      <div fxhide.xs="true" style="flex: 1 1 100%; box-sizing: border-box; max-width: 25%">
        <div class="green-line"></div>
    </div>
  </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-8 col-xxl-8">
      <div class="row justify-content-center my-5">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3 col-xl-3 center gap">
          <img class="" src="../../assets/tools/MongoDb.png">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3 col-xl-3 center gap">
          <img class="" src="../../assets/tools/html .png">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3 col-xl-3 center gap">
          <img class="angular" src="../../assets/tools/angular.png.png">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3 col-xl-3 center gap">
          <img class="" src="../../assets/tools/express.png">
        </div>

        <div class="row justify-content-center my-5">
          <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3 col-xl-3 center gap">
            <img class="" src="../../assets/tools/node js.png">
          </div>
          <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3 col-xl-3 center gap">
            <img class="" src="../../assets/tools/Java.png">
          </div>
          <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3 col-xl-3 center gap">
            <img class="" src="../../assets/tools/Sql.jpg">
          </div>
          <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3 col-xl-3 center gap">
            <img class="" src="../../assets/tools/JS.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>