 .tools{
    // background-color:#FAFAFA ;

    .angular{
      width: 100px;
      height:90px;
    }
}

.center {

    display: flex;
    justify-content: center;
  
  
    img {
  

      width: 11rem;
      height: 6rem;
    }
  }
  h2{
  
    color: #0078B3;
  }
  .green-line {
    height: 2px;
    background-color: green;
  }
  .section-heading1 {
    font: 50px poppin;
    color: #333;
    margin-left: 20px;
    margin-top: -30px;
    padding-bottom: 1rem;
  }
  
  @media (max-width: 964px) {
  
    .gap{
    padding-top: 20px;
    }
  }
  