.section-heading{
  font: 35px poppin;
  color: #333;
  margin-right: 20px;
  // margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.card{
  margin-bottom: 50px;
}
.container {
  background-color: #f9f9f9;
}
.left{
  background-color: #ffa65e;
  text-align: center;
  padding-top: 100px;
  .subhead{
    margin-bottom: 50px;
    font: 30px poppin;
  }
  .faq{
    font: 18px poppin;
    margin-bottom: 20px;
  }
  .phonecont{
    font: 15px poppin;
    margin-top: 50px;
  }
  .emailcont{
    font: 15px poppin;
  }
}
.right{
  background-color: #ffda6c;

.contactForm {
  padding: 40px 30px 30px 40px;
}
.contactForm input {
  font-size: 16px;
  font-weight: 600;
  border: 2px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
  // height: 55px;
}
.contactForm textarea {
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  border: 2px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}
.contactForm input:placeholder {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.contactForm textarea:placeholder {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.contactForm input:hover,
.contactForm input:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid transparent;
  border-bottom-color: #41b4bf;
}
.contactForm textarea:hover,
.contactForm textarea:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid transparent;
  border-bottom-color: #41b4bf;
}
.button {
  text-align: center;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 3px;
  color: #fff;
  box-shadow: 1px 10px 10px 0px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  background: #41b4bf;
  transition: 0.2s;
  border: 1px solid #41b4bf;
  margin-top: 10px;
}

.button:hover {
  cursor: pointer;
  background: #196d75;
}

.button:focus {
  outline: none;
}
}

@media (max-width: 768px) {
  .section-heading{
    font-size: 30px;
    text-align: center;
  }
  .left{
    text-align: center;
    padding-top: 30px;
    .subhead{
      margin-bottom: 20px;
      font: 20px poppin;
    }
    .faq{
      font: 15px poppin;
      margin-bottom: 10px;
    }
    .phonecont{
      font: 12px poppin;
      margin-top: 10px;
    }
    .emailcont{
      font: 12px poppin;
    }
  }
  .right{
    .contactForm input{
      font-size: 12px;
      margin-bottom: 30px;
      font-weight: 600;
      height: 35px;
    }
    .contactForm input:placeholder {
      font-size: 12px;
      font-weight: 600;
    }
    .contactForm textarea {
      font-size: 12px;
      font-weight: 600;
      line-height: 20px;
    }
    .contactForm textarea:placeholder {
      font-size: 15px;
      font-weight: 600;
    }
    .button {
      padding: 4px 10px;
      font-size: 12px;
      border-radius: 3px;
      color: #fff;
      font-weight: 500;
    }
  } 
}



@media (max-width: 376px) {
  .section-heading{
    font-size: 20px;
    text-align: center;
  }
  .left{
    text-align: center;
    padding-top: 20px;
    .subhead{
      margin-bottom: 10px;
      font: 15px poppin;
    }
    .faq{
      font: 12px poppin;
      margin-bottom: 10px;
    }
    .phonecont{
      font: 10px poppin;
      margin-top: 10px;
    }
    .emailcont{
      font: 10px poppin;
    }
  }
  .right{
    .contactForm input{
      font-size: 10px;
      margin-bottom: 20px;
      font-weight: 500;
      height: 25px;
    }
    .contactForm input:placeholder {
      font-size: 10px;
      font-weight: 500;
    }
    .contactForm textarea {
      font-size: 10px;
      font-weight: 500;
      line-height: 10px;
    }
    .contactForm textarea:placeholder {
      font-size: 10px;
      font-weight: 500;
    }
    .button {
      padding: 4px 8px;
      font-size: 10px;
      border-radius: 3px;
      color: #fff;
      font-weight: 500;
    }
  }
}