<section id="gallery">
  <div class="container-fluid">
    <div class="col-12">
      <div class="col-12 heading">
        <p class="text-center"><strong>Gallery</strong></p>
      </div>

      <div class="page-content">
        <div class="tab">
          <ul class="gallery justify-content-center">
            <li
              [ngClass]="{ active: selectedTab == 'photo' }"
              (click)="showPhoto()"
            >
              Photo
            </li>
            <li
              [ngClass]="{ active: selectedTab == 'video' }"
              (click)="showVideo()"
            >
              Video
            </li>
          </ul>

          <div class="card p-3 my-2" *ngIf="selectedTab == 'photo'">
            <Strong style="text-align: center">OUR PHOTOS</Strong>
          </div>
          <div class="card p-3 my-2" *ngIf="selectedTab == 'video'">
            <Strong style="text-align: center">OUR VIDEOS</Strong>
          </div>

          <!-- <div class="tab-content" *ngIf="selectedTab == 'photo'">
            <div class="container gallery-container">
              <div class="tz-gallery">
                <div class="row">
                  <div class="col-sm-12 col-md-4" *ngFor="let item of imageArr">
                    <a class="lightbox" (click)="openImage(item.image)">
                      <img
                        *ngIf="item.image"
                        src="{{ item.image }}"
                        alt="placeholder"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div> -->



<div class="tab-content" *ngIf="selectedTab == 'photo'">
  <div class="container gallery-container">
    <div class="tz-gallery">
      <div class="row">
        <div class="col-sm-12 col-md-4" *ngFor="let item of imageArr; let i = index">
          <a class="lightbox" (click)="openVerticallyCentered(content, i,item)">
            <img *ngIf="item.image" [src]="item.image" alt="placeholder">
            <!-- <div class="text-center">{{item.imageTitle}}</div> -->
          </a>
          <div class="text-center heading">{{item.imageTitle}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
          <ng-template #content let-modal class="imgmodel">
            <div class="imgmodel"> 
              <div class="header">
                <button type="button" class="btn-close" aria-label="Close"
              (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">
                <ngb-carousel #carousel [activeId]="currentImageIndex" (slide)="carouselSlide($event)">
                  <ng-template ngbSlide *ngFor="let item of sliderArray; let i = index">
                    <div class="text-center heading">{{item.imageTitle}}</div>
                    <img src="{{ item.image }}" class="img d-block w-100" alt="Image {{i+1}}">
                  </ng-template>
                </ngb-carousel>
              </div>
            </div>
          </ng-template>








          <div class="tab-content" *ngIf="selectedTab == 'video'">
            <div class="container gallery-container">
              <div class="tz-gallery">
                <div class="row">
                  <div class="col-sm-12 col-md-4" *ngFor="let item of videoArr">
                    <iframe
                      *ngIf="item.videoUrl"
                      width="100%"
                      height="315"
                      [src]="sanitizeVideoUrl(item.videoUrl)"
                      frameborder="0"
                      allowfullscreen>
                    </iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
