.name{
    font-family: 'Champion Gothic';
    line-height: 233px;
    font-size: 271px;
    font-weight: 300;
    color: #F79521;
}

.name2{
    font-family: 'Helvetica';
    line-height: 233px;
    font-size: 271px;
    font-weight: 300;
}