<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="d-flex heading">
                <p class="head1">DECODING</p> 
                <p class="head2">FUTURE</p>
            </div>
            <div class="text"><p>Welcome to <b style="color: #F79521; font-weight:900;">S</b>2<b style="color: #F26522; font-weight:900;">P</b> EduTech! Transform your passion for coding into a rewarding career with our expert-led programs.</p></div>

        </div>
        <div class="col-1">
            <div class="vertical-line"></div>
        </div>
        <div class="col-5 right">
            <p class="head1">STUDENT <img src="../../assets/landing/1.png" class="img1"></p>
            <p class="head2"> TO PROFESSIONAL</p>
            <img src="../../assets/landing/2.png" class="img2">
        </div>
    </div>
</div>


<div class="container-fluid slider-container">
    <div class="row">
        <div class="col-12">
            <div class="card parentcard">
                <div class="card childcard">
                    <h5></h5>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-7">
                            <ngb-carousel #carousel [interval]="3000" [showNavigationIndicators]="false">
                                <ng-template ngbSlide>
                                    <div class="picsum-img-wrapper">
                                        <img src="../../assets/gallery/IMG20230408141048.jpg" class="img-fluid w-100"/>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <div class="picsum-img-wrapper">
                                        <img src="../../assets/gallery/IMG20230323170530.jpg" class="img-fluid w-100"/>
                                    </div>
                               
                                </ng-template>
                            </ngb-carousel>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img src="../../assets/s2p landing.png" class="img-fluid">
                                <div class="card-body">
                                  <p class="heading">Celebrating over</p>
                                </div>
                                <p class="text">Students successfully placed in leading tech roles, our track record speaks for itself.</p>

                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>




<!-- 
<ngb-carousel #carousel [interval]="4000" [showNavigationIndicators]="false">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../assets/gallery/IMG20230408141048.jpg" class="img-fluid"/>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../assets/gallery/IMG20230323170530.jpg" class="img-fluid"/>
        </div>
   
    </ng-template>
</ngb-carousel> -->