.heading{
    margin-left: 15px;
    .head1{
        font-family: Champion Gothic;
        font-size: 100px;
        margin-right: 20px;
        line-height: 127.6px;
        color: #F79521;
    }
    .head2{
        font-family: Champion Gothic;
        font-size: 100px;
        line-height: 127.6px;
        color: #F26522
        ;
    
    }
}
.vertical-line {
    border-left: 1px solid #000000;
    height: 95%;
    margin: auto;
}
